/******************************* Navbar section *************************************/
.navbar_section .navbar_wrapper
{
    padding: 10px 0;
    background-color: #000;
}

.navbar_section .navbar_wrapper .nav_text
{
    color: #fff;
    text-align: center;
    font-size: 14px;
}

/******************************* End of Navbar section *****************************/


/* ******************************* Hero section *************************************/

.video_hero_section
{
    position: relative;
    overflow: hidden;
}

.video_hero_section .video-background 
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.video_hero_section .overlay 
{
    background-color: rgba(0, 23, 46, 0.85);
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
}

/* .video_hero_section .content 
{
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
} */

.video_hero_section .video_content 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    width: 100%;
}

.video_hero_section .content h1 
{
    font-weight: 800;
    font-size: 61px;
    line-height: 55.48px;
}

.video_hero_section .content a 
{
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    border-bottom: 2px solid white;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.video_hero_section .content a:hover 
{
    color: #ccc;
    border-color: #ccc;
}


.video_hero_section .futuready_menu
{
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, .1);
    max-width: 120px;
    height: 94vh;
    max-height: 94vh;
    z-index: 99999;
    position: relative;
    padding: 30px 0;
}


.video_hero_section .contact-text 
{
    transform: rotate(-90deg);
    padding-left: 60px !important;
    white-space: nowrap;
}

.video_hero_section .menu-icon 
{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}



/******************************* End of Hero section *************************************/

/******************************* About us section *************************************/

.aboutus_section
{
    background-color: #0d203a;
    padding: 150px 0;
    color: #fff;
}

.email-link 
{
    text-decoration: none;
    border-bottom: 1px solid #c1440e;
    color: white;
}
.email-link:hover 
{
    color: #c1440e;
}


/******************************* End of About us section *****************************/

/******************************* Image video section *************************************/

.video_section_wrapper
{
    position: relative;
}

.video_section_wrapper .intro_image_section::before
{
    content: "";
    width: 100%;
    height: 100px;
    background: #0d203a;
    position: absolute;
    left: 0;
    top: 0;
}

.video_section_wrapper .video-section::before 
{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.video_section_wrapper .play-button 
{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video_section_wrapper .play-button i 
{
    font-size: 30px;
    color: black;
}

.video_section_wrapper .play-button svg
{
    
    width: 30px;
    cursor: pointer;
}

.video_section_wrapper .futuready_video_content
{
    z-index: 9999;
}

.video_section_wrapper .image_video_title
{
    margin-bottom: 20px;
}

/******************************* End of Image video section *****************************/

/******************************* Digital marketing section *************************************/

.section_wrapper
{
    padding-top: 100px;
}

.digital_marketing_section .digital_marketing_title_wrapper
{
    text-align: center;
}
 
.digital_marketing_section .digital_marketing_title
{
    font-weight: 500;
    margin-bottom: 60px;
    line-height: 1.4;
    font-size: 4vw;
    color: #0d203a;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.digital_marketing_section .box_wrapper .box_content
{
    padding: 18px;
}

.digital_marketing_section .box_wrapper .box
{
    padding: 0 15px;
    margin-top: 24px;
}

.digital_marketing_section .box_wrapper .box .box_icon
{
    width: 75px;
    margin-bottom: 20px;
}

.digital_marketing_section .box_wrapper .box .box_title
{
    letter-spacing: .5px;
    margin-bottom: 20px;
    color: #0d203a;
    font-size: 20px;
    text-transform: uppercase;
}

.digital_marketing_section .box_wrapper .box .service-list
{
    list-style-type: none;
    padding: 3px 0 15px 0;
    list-style: none;
    color: #0d203a;
    letter-spacing: 1px;
    font-size: 14px;
    border-bottom: 1px solid #c8c8c8;
    height: 10.5em;
    width: 100%;
}


/******************************* End of Digital marketing section ***************************/


/******************************* Brand section *****************************************/




/******************************** End of brand section ******************************/


/******************************* Form section *************************************/

.form_wrapper
{
    background-color: #0d203a;
    color: #fff;
}


.form_wrapper .form_title
{
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form_wrapper .form_subtitle
{
    color: #fff;
    font-size: 18px;
    padding-right: 23px;
    margin-bottom: 6em;
    margin-top: 16px;
}

.form_wrapper .form_content_wrapper
{
    margin-top: 0 !important;
}

.form_wrapper .futuready_form
{
    padding-left: 0 !important;
    margin-top: 0 !important;
}

.form_wrapper .futuready_label
{
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    color: #FFFFFF;
}

.form_wrapper  .required::after 
{
    content: '*';
    color: red;
    margin-left: 1px;
}

.form_wrapper .form_button
{
    border-color: #FFFFFF;
    color: #0d203a;
    font-size: 13px;
    line-height: 13px;
    background-color: #FFFFFF;
    font-weight: 700;
    padding: 12px 24px;
}
/******************************* End of Form section ***************************/

/******************************* Footer section *************************************/

.footer.futeready_footer a 
{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.footer.futeready_footer .footer-contact
{
    cursor: pointer;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-size: 14px;
    white-space: nowrap;
}




.footer.futeready_footer a:hover,
.footer.futeready_footer .footer-contact:hover
{
    color: #c1440e;
}

.footer.futeready_footer .footer_bar 
{
    width: 100%;
    display: flex
    ;
    flex-wrap: wrap;
    margin-top: 50px !important;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
    font-size: 13px
}
.footer.futeready_footer img
{
    display: block;
    width: 249px;
    max-width: 100%;
}
.footer.futeready_footer .footer-title
{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.2;
}



.footer.futeready_footer .footer_contact_wrapper
{
    padding: 5px 0;
}

.footer.futeready_footer .footer_contact_wrapper svg
{
    width: 15px;
    fill: #fff;
    margin-right: 5px;
}


/******************************* End of Footer section ***************************/