/******************************* Navbar section *************************************/
.navbar_section .navbar_wrapper
{
    padding: 10px 0;
    background-color: #000;
}

.navbar_section .navbar_wrapper .nav_text
{
    color: #fff;
    text-align: center;
    font-size: 14px;
}

/******************************* End of Navbar section *****************************/

/******************************* About us section *************************************/

.aboutus_section
{
    background-color: #0d203a;
    padding: 150px 0;
    color: #fff;
}

.email-link 
{
    text-decoration: none;
    border-bottom: 1px solid #c1440e;
    color: white;
}
.email-link:hover 
{
    color: #c1440e;
}


/******************************* End of About us section *****************************/

/******************************* Digital marketing section *************************************/

.section_wrapper
{
    padding-top: 100px;
}

.digital_marketing_section .digital_marketing_title_wrapper
{
    text-align: center;
}
 
.digital_marketing_section .digital_marketing_title
{
    font-weight: 500;
    margin-bottom: 60px;
    line-height: 1.4;
    font-size: 4vw;
    color: #0d203a;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.digital_marketing_section .box_wrapper .box_content
{
    padding: 18px;
}

.digital_marketing_section .box_wrapper .box
{
    padding: 0 15px;
    margin-top: 24px;
}

.digital_marketing_section .box_wrapper .box .box_icon
{
    width: 75px;
    margin-bottom: 20px;
}

.digital_marketing_section .box_wrapper .box .box_title
{
    letter-spacing: .5px;
    margin-bottom: 20px;
    color: #0d203a;
    font-size: 20px;
    text-transform: uppercase;
}

.digital_marketing_section .box_wrapper .box .service-list
{
    list-style-type: none;
    padding: 3px 0 15px 0;
    list-style: none;
    color: #0d203a;
    letter-spacing: 1px;
    font-size: 14px;
    border-bottom: 1px solid #c8c8c8;
    height: 10.5em;
    width: 100%;
}


/******************************* End of Digital marketing section ***************************/

/******************************* Form section *************************************/

.form_wrapper
{
    background-color: #0d203a;
    color: #fff;
}


.form_wrapper .form_title
{
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form_wrapper .form_subtitle
{
    color: #fff;
    font-size: 18px;
    padding-right: 23px;
    margin-bottom: 6em;
    margin-top: 16px;
}

.form_wrapper .form_content_wrapper
{
    margin-top: 0 !important;
}

.form_wrapper .futuready_form
{
    padding-left: 0 !important;
    margin-top: 0 !important;
}

.form_wrapper .futuready_label
{
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    color: #FFFFFF;
}

.form_wrapper  .required::after 
{
    content: '*';
    color: red;
    margin-left: 1px;
}

.form_wrapper .form_button
{
    border-color: #FFFFFF;
    color: #0d203a;
    font-size: 13px;
    line-height: 13px;
    background-color: #FFFFFF;
}
/******************************* End of Form section ***************************/

